<mat-toolbar class="page-header" role="heading">
  <h1>Demo</h1>
</mat-toolbar>

<div class="p-4">
  <div class="d-flex">
    <div class="mb-3 flex-1">
      <h2>background change animation</h2>
      <button mat-raised-button color="primary" (click)="toggleStateFlag()">Change</button>
      <div [@backgroundAnimations]="openCloseState" class="mx-3 p-3">
        <mat-card>
          <mat-card-title>Hello</mat-card-title>
          <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, alias
            doloribus id
            praesentium consectetur aut mollitia eum corrupti facilis! Nihil tenetur quos ab ullam,
            architecto
            modi?
            Fuga commodi nam totam?</mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="mb-3 flex-1">
      <h2>(without animation)</h2>
      <button mat-raised-button color="primary" (click)="toggleStateFlag()">Change</button>
      <div @.disabled [@backgroundAnimations3]="openCloseState" class="mx-3 p-3">
        <mat-card>
          <mat-card-title>Hello</mat-card-title>
          <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, alias
            doloribus id
            praesentium consectetur aut mollitia eum corrupti facilis! Nihil tenetur quos ab ullam,
            architecto
            modi?
            Fuga commodi nam totam?</mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="mb-3 flex-1">
      <h2>background change animation</h2>
      <button mat-raised-button color="primary" (click)="changeStateFlag('open')">Change To Open</button>
      <button mat-raised-button color="primary" (click)="changeStateFlag('close')">Change To Close</button>
      <button mat-raised-button color="primary" (click)="changeStateFlag('mix')">Change To Mix</button>
      <div [@backgroundAnimations2]="openCloseState2" class="mx-3 p-3">
        <mat-card>
          <mat-card-title>Hello</mat-card-title>
          <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, alias
            doloribus id
            praesentium consectetur aut mollitia eum corrupti facilis! Nihil tenetur quos ab ullam,
            architecto
            modi?
            Fuga commodi nam totam?</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="mb-3 flex-1">
      <h2>simple fade</h2>
      <button mat-raised-button color="primary" (click)="toggleFadeFlag()">Show / Hide</button>
      <div @simpleFader *ngIf="fadeFlag">
        <mat-card>
          <mat-card-title>Hello</mat-card-title>
          <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, alias
            doloribus id
            praesentium consectetur aut mollitia eum corrupti facilis! Nihil tenetur quos ab ullam,
            architecto modi?
            Fuga commodi nam totam?</mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="mb-3 flex-1">
      <h2>simple fade (:enter, :leave)</h2>
      <button mat-raised-button color="primary" (click)="toggleFadeFlag2()">Show / Hide</button>
      <div @simpleFader2 *ngIf="fadeFlag2">
        <mat-card>
          <mat-card-title>Hello</mat-card-title>
          <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, alias
            doloribus id
            praesentium consectetur aut mollitia eum corrupti facilis! Nihil tenetur quos ab ullam,
            architecto modi?
            Fuga commodi nam totam?</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="mb-3 flex-1">
      <h2>Parent & Child animation, animation callback</h2>
      <button mat-raised-button color="primary" (click)="toggleParentChildFlag()">Change</button>
      <div [@parentAnimation]="parentChildFlag" (@parentAnimation.done)="animationDone($event)" class="mx-3">
        <mat-card>
          <mat-card-title>Hello</mat-card-title>
          <mat-card-content>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit facere ea sunt neque
              doloribus magni incidunt commodi ratione, dolorem animi temporibus eius nobis dolor
              eveniet repellat sint dolorum, qui dolore.</p>

            <mat-expansion-panel [@childAnimation]="parentChildFlag">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  This is Child
                </mat-panel-title>
                <mat-panel-description>
                  child component
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci aliquam vero
                nesciunt amet, deleniti, distinctio sint aperiam non, quasi quibusdam quas voluptate
                corrupti. Soluta, commodi sed mollitia iusto rem magnam.</p>
            </mat-expansion-panel>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="mb-3 flex-1">
      <h2>Router animation</h2>
      <button mat-raised-button color="primary" routerLink="page1">Sub page 1</button>
      <button mat-raised-button color="primary" routerLink="page2">Sub page 2</button>
      <button mat-raised-button color="primary" routerLink="page3">Sub page 3</button>
      <div [@routerAnimation]="currentSubPage" class="mx-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>